* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #151812;
}
.homeBlock {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeBlock h1 {
  color: #76ca71;
  font-size: 3rem;
  font-weight: bold;
}
.addBlock {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
}
input {
  width: 20%;
  padding: 10px 20px;
  background-color: #adadad;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-size: 1rem;
}
button {
  padding: 10px 20px;
  background-color: #6148aa;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-size: 1rem;
  font-weight: bold;
}
button:hover {
  background-color: #76ca71;
  color: #000;
}
.viewBlock {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.viewBlock .task {
  background-color: #e6e6e6;
  color: #222;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
.viewBlock .task p {
  text-transform: capitalize;
  margin: 10px;
}
